<h1  markdown="1" style="text-align: center; font-size:50px"> Introducción a Python </h1> 
![Python](images/python-logo.svg)


* Lenguaje de programación poderoso y fácil de aprender.

* Enfoque simple pero efectivo a la programación orientada a objetos.

* Elegante sintaxis.

* Tipado dinámico.

* Desarrollo rápido de aplicaciones en diversas áreas.

[Fuente](http://docs.python.org.ar/tutorial/3/real-index.html)

<h1  markdown="1" style="text-align: center; font-size:30px"> Tipos de Datos </h1>

# Números, Cadenas y Boleanos

In [49]:
""" 

Operaciónes con Enteros y Reales

+, -, /, //, *, **, %


"""

num_1 = 80.0
num_2 = 4.0

In [50]:
num_1 + num_2

84.0

In [51]:
num_1 / num_2

20.0

In [52]:
num_1 * 3

240.0

In [53]:
num_2 ** 2

16.0

In [226]:
"""

Operaciónes con Cadenas

+, *, %, []


"""

cadena_1 = "Hola Mundo"
cadena_2 = ","
cadena_3 = "Adios Mundo"
print(cadena_3)

Adios Mundo

In [96]:
cadena_3[1]

'd'

In [97]:
cadena_1[0:4]

'Hola'

In [62]:
cadena_1 + cadena_2 +cadena_3

'Hola Mundo,Adios Mundo'

In [73]:
"Mundo" * 3

'MundoMundoMundo'

In [102]:
'Aguante el %s de %s' % ('meetup', 'python')

'Aguante el meetup de python'

In [125]:
'El helado de {} y {} es lo mejor'.format('chocolate', 'menta')

'El helado de chocolate y menta es lo mejor'

In [138]:
"""

Operaciónes con Booleanos

and, or, not


"""
bool_1 = False
bool_2 = True

In [139]:
bool_1 & bool_2

False

In [140]:
bool_1 or bool_2

True

In [142]:
num_1 > num_2 or num_2 == 5

True

# Tuplas, Listas y Diccionarios

In [225]:
"""

Operaciónes con Tuplas (inmutables)


"""

tuple_1 = (1,2)
tuple_2 = 5,6,"hola"
print(tuple_2)

(5, 6, 'hola')

In [204]:
tuple_1[0]

1

In [207]:
tuple_2[2]

'hola'

In [208]:
tuple_2[0] = 10

TypeError: 'tuple' object does not support item assignment

In [224]:
"""

Operaciónes con Listas


"""

lista_1 = [1,2,3,4,5,6]
print(lista_1)

[1, 2, 3, 4, 5, 6]

In [209]:
4 in lista_1

True

In [143]:
lista_1[:]

[1, 2, 3, 4, 5, 6]

In [145]:
lista_1[:5]

[1, 2, 3, 4, 5]

In [177]:
lista_2 = lista_1[:] * 2
print(lista_2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [178]:
lista_2[:6] = ["A,B,C,D"]
print(lista_2)

['A,B,C,D', 1, 2, 3, 4, 5, 6]

In [184]:
lista_2 = list(range(10))
print(lista_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [210]:
lista_1 = ['a', 'b', 'c']
lista_2 = [1, 2, 3]
lista_3 = [lista_1, lista_2,lista_1,lista_2]
print(lista_3)

[['a', 'b', 'c'], [1, 2, 3], ['a', 'b', 'c'], [1, 2, 3]]

In [217]:
pila = lista_2[:]
print(pila)
pila.pop()
print(pila)

[1, 2, 3]
[1, 2]

In [219]:
cola = lista_1[:]
print(cola)
cola.pop(0)
print(cola)

['a', 'b', 'c']
['b', 'c']

In [242]:
"""

Operaciónes con Diccionarios


"""

dicc_1 = {"Uno":1,"Dos":2,"Tres":3}
print(dicc_1)

{'Uno': 1, 'Dos': 2, 'Tres': 3}

In [231]:
dicc_1["Tres"]

3

In [243]:
del(dicc_1["Dos"])
print(dicc_1)

{'Uno': 1, 'Tres': 3}