<h1  markdown="1" style="text-align: center; font-size:50px"> Introducción a Python 3</h1> 
![Python](images/python-logo.svg)


* Lenguaje de programación poderoso y fácil de aprender.

* Enfoque simple pero efectivo a la programación orientada a objetos.

* Elegante sintaxis.

* Tipado dinámico.

* Desarrollo rápido de aplicaciones en diversas áreas.

[Fuente](http://docs.python.org.ar/tutorial/3/real-index.html)

<h1  markdown="1" style="text-align: center; font-size:30px"> Tipos de Datos </h1>

# Números, Cadenas y Boleanos

In [49]:
""" 

Operaciónes con Enteros y Reales

+, -, /, //, *, **, %


"""

num_1 = 80.0
num_2 = 4.0

In [50]:
num_1 + num_2

84.0

In [51]:
num_1 / num_2

20.0

In [52]:
num_1 * 3

240.0

In [53]:
num_2 ** 2

16.0

In [226]:
"""

Operaciónes con Cadenas

+, *, %, []


"""

cadena_1 = "Hola Mundo"
cadena_2 = ","
cadena_3 = "Adios Mundo"
print(cadena_3)

Adios Mundo

In [96]:
cadena_3[1]

'd'

In [97]:
cadena_1[0:4]

'Hola'

In [62]:
cadena_1 + cadena_2 +cadena_3

'Hola Mundo,Adios Mundo'

In [73]:
"Mundo" * 3

'MundoMundoMundo'

In [102]:
'Aguante el %s de %s' % ('meetup', 'python')

'Aguante el meetup de python'

In [125]:
'El helado de {} y {} es lo mejor'.format('chocolate', 'menta')

'El helado de chocolate y menta es lo mejor'

In [138]:
"""

Operaciónes con Booleanos

and, or, not


"""
bool_1 = False
bool_2 = True

In [139]:
bool_1 & bool_2

False

In [140]:
bool_1 or bool_2

True

In [142]:
num_1 > num_2 or num_2 == 5

True

# Tuplas, Listas y Diccionarios

In [225]:
"""

Operaciónes con Tuplas (inmutables)


"""

tuple_1 = (1,2)
tuple_2 = 5,6,"hola"
print(tuple_2)

(5, 6, 'hola')

In [204]:
tuple_1[0]

1

In [207]:
tuple_2[2]

'hola'

In [208]:
tuple_2[0] = 10

TypeError: 'tuple' object does not support item assignment

In [224]:
"""

Operaciónes con Listas


"""

lista_1 = [1,2,3,4,5,6]
V = [2**i for i in range(13)]
print(lista_1)

[1, 2, 3, 4, 5, 6]

In [209]:
4 in lista_1

True

In [143]:
lista_1[:]

[1, 2, 3, 4, 5, 6]

In [145]:
lista_1[:5]

[1, 2, 3, 4, 5]

In [177]:
lista_2 = lista_1[:] * 2
print(lista_2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [178]:
lista_2[:6] = ["A,B,C,D"]
print(lista_2)

['A,B,C,D', 1, 2, 3, 4, 5, 6]

In [184]:
lista_2 = list(range(10))
print(lista_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [210]:
lista_1 = ['a', 'b', 'c']
lista_2 = [1, 2, 3]
lista_3 = [lista_1, lista_2,lista_1,lista_2]
print(lista_3)

[['a', 'b', 'c'], [1, 2, 3], ['a', 'b', 'c'], [1, 2, 3]]

In [217]:
pila = lista_2[:]
print(pila)
pila.pop()
print(pila)

[1, 2, 3]
[1, 2]

In [219]:
cola = lista_1[:]
print(cola)
cola.pop(0)
print(cola)

['a', 'b', 'c']
['b', 'c']

In [345]:
"""

Operaciónes con Diccionarios


"""

dicc_1 = {"Uno":1,"Dos":2,"Tres":3}
print(dicc_1)

{'Uno': 1, 'Dos': 2, 'Tres': 3}

In [346]:
dicc_1["Tres"]

3

In [347]:
del(dicc_1["Dos"])
print(dicc_1)

{'Uno': 1, 'Tres': 3}

# Control de Flujo

In [310]:
if (bool_2):
    print ("Verdad")
else:
    print ("Mentira")

Verdad

In [315]:
cola = list(range(6))
while(len(cola)):
    print(cola.pop(0))

0
1
2
3
4
5

In [322]:
lista_1 = ["Rojo","Verde","Azul","Amarillo"]
for color in lista_1:
    print(color)

Rojo
Verde
Azul
Amarillo

In [330]:
lista_2 = [15,35,2,23]
for elemento_1,elemento_2 in zip(lista_1,lista_2):
    print (elemento_1)
    print (elemento_2)

Rojo
15
Verde
35
Azul
2
Amarillo
23

In [329]:
for indice,elemento_1 in enumerate(lista_1):
    print (elemento_1)
    print (indice)

Rojo
0
Verde
1
Azul
2
Amarillo
3

# Funciones

In [248]:
def saludar_1(nombre):
    return "Hola {}, como te va ?".format(nombre)

In [250]:
saludar_1("Pablo")

'Hola Pablo, como te va ?'

In [253]:
def saludar_2(nombre="mundo"):
    return "Hola {}".format(nombre)

In [255]:
saludar_2()

'Hola mundo'

In [257]:
saludar_2("pablo")

'Hola pablo'

In [304]:
def funcion_1(ancho,alto,edad,nombre="mundo"):
    print("Ancho={},Alto={},Edad={},Nombre={}".format(ancho,alto,edad,nombre))

In [305]:
a = [5.0,1.60,24]
funcion_1(*a,"gerado")

Ancho=5.0,Alto=1.6,Edad=24,Nombre=gerado

In [292]:
def funcion_2(*args,**kwargs):
    print("Args = {}, kwargs={} ".format(args,kwargs))

In [332]:
funcion_2([1,2,3,4,5],8, **dicc_1)

Args = ([1, 2, 3, 4, 5], 8), kwargs={'Uno': 1, 'Tres': 3}

# Clases y Objetos

In [341]:
class Persona():
    def __init__(self,nombre,edad,peso):
        self.nombre = nombre
        self.edad = edad
        self.peso = peso
    def saludar(self):
        print("Hola {}".format(self.nombre))

In [348]:
p = Persona("Gerado",30,80)
p.saludar()

Hola Gerado

# Python 2 vs Python 3

* Ventajas 
    * Velocidad.
    * Ortogonalidad.

* Problemas
    * Rompio la compatibilidad hacia atras.
    * No todas las librerias soportan python 3.

## Print en Python 3 es una función

In [422]:
!echo "print 'hola' " > pr1.py

In [423]:
!cat pr1.py

print 'hola'

In [424]:
!python2 pr1.py

hola

In [425]:
!python pr1.py

  File "pr1.py", line 1
    print 'hola'
               ^
SyntaxError: Missing parentheses in call to 'print'

In [427]:
print("Luis Raul",end=" ")
print("Paula Roberto")

Luis Raul Paula Roberto

## Division siempre real

In [392]:
!cat div.py

print (10 / 3 )
print (10 // 3 )
print (10.0 // 3 )
print (10 .0 / 3.0 )

In [395]:
!python2 div.py

3
3
3.0
3.33333333333

In [396]:
!python div.py

3.3333333333333335
3
3.0
3.3333333333333335

## Variables globales en Lista por compresión

In [386]:
!cat main.py

"""
Prueba

"""


i = "raul"
def main():

    V = [2**i for i in range(13)]
    print(i)

if __name__ == "__main__":
    main()

In [388]:
!python2 main.py

12

In [389]:
!python main.py

raul

## Cadenas Unicode por defecto en Python 3

In [418]:
!echo "print('josé ñandu') " > pr1.py

In [419]:
!python2 pr1.py

  File "pr1.py", line 1
SyntaxError: Non-ASCII character '\xc3' in file pr1.py on line 1, but no encoding declared; see http://python.org/dev/peps/pep-0263/ for details

In [420]:
!python pr1.py

josé ñandu

In [416]:
""" # -*- coding: utf-8 -*- """

' # -*- coding: utf-8 -*- '